<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">Pokédex</div>

    <div class="navbar-links">
      <a href="/">Pokémon</a>
    </div>
    <div class="navbar-links">
      <a href="/type">Type</a>
    </div>
    <div class="navbar-links">
      <a href="/trainers">Trainers</a>
    </div>
  </div>
</nav>
