<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo navbar-links">
      <a href="/">Pokédex</a>
    </div>
    <div class="navbar-links">
      <a href="/types">Type</a>
    </div>
    <div class="navbar-links">
      <a href="/trainers">Trainers</a>
    </div>
  </div>
</nav>
