.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  background-color: white;
  margin: 15% auto;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.close-btn {
  position: absolute;
  right: 10px;
  top: 0px;
  color: red;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: darkred;
}

.add-trainer-input-container {
  display: flex;
  gap: 8px;
  justify-content: space-around;
  margin-top: 16px;
  margin-bottom: 16px;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #e3350d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ac2709;
}

.submit-btn {
  margin-top: 16px;
}

.trainer-pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 3 equal columns */
  gap: 16px; /* Space between grid items */
  padding: 2em;
  padding-top: 10px;
  width: 100%;
  justify-items: center;
}

@media (max-width: 1024px) {
  .pokemon-list-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}

@media (max-width: 768px) {
  .pokemon-list-container {
    grid-template-columns: 1fr; /* 1 column for mobile screens */
  }
}

.trainer-pokemon-list-container li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  min-width: 250px;
  height: auto;
}

.trainer-pokemon-name {
  margin-top: -0.5em;
  margin-bottom: 0.5em;
}

.trainer-pokemon-list-container > li > div > img {
  height: 150px;
}
